/JavaApplication259/nbproject/private/
/JavaApplication259/build/
/exercicio02/nbproject/private/
/exercicio02/build/
/CARAMBA/nbproject/private/
/CARAMBA/build/
/JavaApplication263/nbproject/private/
/exercicio03/nbproject/private/
/exercicio03/build/
/ProjetoVisual/nbproject/private/
/ProjetoVisual2025/nbproject/private/
/ProjetoVisual2025/build/
/exercicio4/nbproject/private/
/exercicio4/build/
/exercicio05/nbproject/private/
/exercicio05/build/
/exercicio6/nbproject/private/
/exericico06/nbproject/private/
/exericico06/build/
/mavenproject1/target/
/exercicio8/target/
